NEXT_PUBLIC_API_KEY="f30df888-fef9-4464-aad8-83bd974ebc48"
NEXT_PUBLIC_SECRET_KEY=""
NEXT_PUBLIC_AI_API = "http://82.165.252.154:8080/"

-- Create the variable names as this.
-- Create a solana keypair with solana cli, then import that keypair.json file into your phantom wallet by importing private key section. 
-- then airdrop to your wallet.
-- then export the private key of your wallet address from the phantom wallet and put it here. 
-- all process in Devnet. 